Source: ros-kinetic-rr-swiftnav-piksi
Section: misc
Priority: extra
Maintainer: nick fragale <nick@roverrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/rr_swiftnav_piksi
Standards-Version: 3.9.2

Package: ros-kinetic-rr-swiftnav-piksi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Description: Rover Robotics: ROS package for connecting to SwiftNav Piksi
